
project/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles\.lst

project/target/classes/fxmls/MainScreen\.fxml

project/target/classes/fxmls/Nauka\.fxml

project/target/classes/fxmls/test\.fxml

project/target/classes/pl/competencyproject/controller/TestController\.class~HEAD

project/target/classes/pl/competencyproject/controller/TestController\.class~master

project/target/classes/pl/Main\$1\.class~master

project/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles\.lst

project/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles\.lst

project/target/classes/fxmls/MainMenuLayout\.fxml

project/target/project-1\.0\.jar
